@font-face {
    font-family: 'FontThin';
    src: url('../fonts/Raleway-Thin.ttf'); /* IE9 Compat Modes */
  }
  
  @font-face {
    font-family: 'FontFat';
    src: url('../fonts/Raleway-ExtraBold.ttf'); /* IE9 Compat Modes */
  }
  
  @font-face {
    font-family: 'brusher';
    src: url('../fonts/Brusher.ttf'); /* IE9 Compat Modes */
  }
  
body {
    background-color: #F3F5F7;
}  

.blogWallPaper {
    position: relative;
    width: 100%;
    height: 82vh;
    object-fit: cover;
    background: url(../assets/blogWP.jpg) bottom center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
}

.blogWallPaper span {
    position: absolute;
    top: 60;
    left: 60;
}

.headerText {
    position: absolute;
    top: 40%;
    left: 22%;
    max-width: 34%;
    color: #fff;
}

.headerText h3{
    font-family: 'FontThin';
    font-size: 36px;
}

.headerText h2{
    font-family: 'FontFat';
    margin-top: -18px;
    font-size: 62px;
}

.headerText p {
    font-family: 'FontThin';
    font-weight: bold;
   font-size: 20px;
}


.container {
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 110px auto;
    max-width: 70%;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3%;
    margin: 5% 0;
}

.card {
    overflow: hidden;
    padding: 20px;
    background-color: #FFF;
    border-radius: 30px;
    text-align: center;
    transition: .2s;
}

.card:hover {
    margin-top: -16px;
    transition: .2s;
}

.card_img img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.card_body {
    padding: 26px 20px 36px 20px;
}

.card_title {
    font-family: 'FontFat';
    font-weight: 900;
    text-transform: capitalize;
    color: rgb(241, 197, 51);
    font-size: 26px;
    
}

.card_body span {
    margin-top: -20px;
    color: rgb(206, 206, 206);
    
}

.card_body p {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.7;
    font-family: 'FontThin';
    font-weight: 600;
    padding-top: 22px;
}

p.card_author {
    font-size: 15px;
    padding-top: 15px;
    
}

p.card_author a {
    color: rgb(241, 197, 51);
    font-style: italic;
}

p.card_author a:hover {
    font-size: 16px;
    font-weight: 900;
}

a.read_more {
    color: #FFF;
    font-size: 13px;
    text-decoration: none;
    letter-spacing: 1.1px;
    background: #0F1616;
    margin-top: 50px;
    padding: 24px 0px;
    border-radius: 15px;
    display: inline-block;
    width: 70%;
    transition: all .3s ease-in-out;
}

a.read_more:hover {
    box-shadow: 0px 1px 50px rgba(0, 0, 0, 0.15);
    background: #404040;
    color: #fff;
}


@media only screen and (max-width: 1441px) and (min-width: 1025px) {
    .container {
        max-width: 80%;
    }

    .grid {
        gap: 2%;
    }

    .card {
        padding: 15px;
    }

    .card_body {
        padding: 15px;
    }

    .card_title {
        font-size: 22px;
        padding-bottom: 14px;
    }

    .card_body p {
        font-size: 16px;
    }

    a.read_more {
        padding: 19px 0;
        width: 60%;
        font-size: 11px;
        margin-top: 30px;
    }

}

@media only screen and (max-width: 1024px) {

    .grid {
        grid-template-columns: 1fr;
        gap: 2%;
    }
}

@media only screen and (max-width: 425px) {
    .container {
        max-width: 90%;
    }

    .card {
        padding: 20px 10px;
    }

    .card_body {
        padding: 7px;
    }

    .card_title {
        font-size: 20px;
        padding-bottom: 7px;
    }

    .card_body p {
        font-size: 14px;
    }

    a.read_more {
        padding: 15px 0;
        margin-top: 20px;
    }

}

