/* INDEX responsive */
@media screen and (max-width: 991px) {
    .carouselItem img {
        max-width:100% !important;
        height:100% !important;
    }

    .navbar-collapse {
        background-color:rgb(44, 48, 49);
        position:absolute;
        left:0;
        right:0;
        top:0;
        width:100%;
        height:100vh;
        transition:none !important;
        overflow-y:scroll !important;
        z-index:99;
    }
    .navbar-nav {
        display:block !important;
        margin-left:0;
        float:left !important; 
        margin-top:20% !important;
        
    }
    .navbar-nav li {
        display:block !important;
        margin-left:0;
    }
    .navbar-nav li {
        display:block !important;
        margin-left:0;
    }
    .nav-link {
        font-size:2.5vw !important;
    }
    .getInTouch {
        width:80% !important;
        margin-left:auto !important;
        margin-right:auto !important;
        margin-top:2% !important;
    }
    .navbar-toggler-icon {
        position:absolute !important;
        top:1%;
        right:5%;
        z-index:100 !important;
    }
    .navbar-toggler-icon {
        background-image:url(../assets/icon.png) !important;
        border:0 !important;
    }
    
    .navbar-toggler {
        border:0 !important;
    }
    
    .navbar-toggler:focus,
    .navbar-toggler:active,
    .navbar-toggler-icon:focus {
        outline: none;
        box-shadow: none;
    }

    .navbar-brand {
        width:25% !important;
        left:0 !important;
    }
    .nav-item:hover .underlineBorder {
        width:70%;
        margin:0 auto;
    }
    .dropdown-menu {
        visibility:visible;
        margin:0 auto;
        text-align:center;
        width:80%;
        padding:0 !important;
        border:0 !important;
        border-radius:0 !important;
        background:0 !important;
        font-size:2vw !important;
    }
    .dropdown-menu li{
        text-align:center;
        width:100%;
        margin:0 auto;
        color:white !important;
        background:0 !important;
    }
    .dropdown-menu-sub {
        padding:0 !important;
    }

    li.dropdown:hover > ul.dropdown-menu {
        display:block;
    }
    .dropdown-item {
        color:white !important;
    }

    .dropdown-item:hover {
        background:none !important;
    }

    .dropdown-item:hover .underlineBorder3{
        display:block;
    }
    .underlineBorder3 {
        border-bottom:2px solid #8ac24c;
        width:0;
        display:block;
        transition:all 0.2s ease-out;
    }
    
    .dropdown-menu-sub li:hover .underlineBorder3 {
        width:20%;
        margin:0 auto;
    }
    .underlineBorder2 {
        border-bottom:2px solid #8ac24c;
        width:0;
        display:block;
        transition:all 0.2s ease-out;
    }
    .dropdown-menu li:hover .underlineBorder2 {
        width:50%;
        margin:0 auto;
    }
    
    .centerSection img {
        z-index:1;
    }

    ul.dropdown-menu-sub {
        display:none;
    }
    ul.dropdown-menu> li:hover > ul.dropdown-menu-sub {
        display:block;
    }

    .carouselItem img {
        height:100vh !important;
        min-width:991px !important;
        margin:0 calc((100% - 991px)/2);
    }

    .carouselHeader {
        position:absolute;
        width:80%;
        height:50vh;
        left:10%;
        top:25vh;
        font-family: Raleway,sans-serif;
    }

    /*First Option*/
.firstOption .titleCarousel {
	font-size:10vw;
	text-align:center;
	color:white;
	display:block;
	margin-bottom:1%;
	font-family: 'FontThin';
}

.firstOption .descriptionCarousel {
	font-size:8vw;
	text-align:center;
	font-weight:bold;
	color:white;
	display:block;
	font-family: 'FontFat';
}

.firstOption .textCarousel {
	font-size:3vw;
	text-align:center;
	color:white;
	display:block;
}

.firstOption .buttonCarousel {
	font-size:3vw;

    
	text-align:center;
	color:white;
	display:block;
	margin-top:8%;
	margin-left:auto;
	margin-right:auto;
	width:50%;
	padding:4% 8%;
	border:2px solid #8ac24c;
	border-radius:255px;
	transition:all 0.5s ease-out;
	cursor:pointer;
	font-weight:bold;
	
}

.firstOption .buttonCarousel:hover {
background:#8ac24c
}

.firstOption .videoButton {
	display:none;
}
	/*End of First Option*/
	
	/*Second Option*/
.secondOption {
	width:70% !important;
	left:15% !important;
    text-align:center !important;
}
.secondOption .titleCarousel {
	font-size:3vw;
	text-align:center;
	font-weight:bold;
	color:white;
	display:block;
	font-family: 'FontFat';
	width:100%;

}

.secondOption .descriptionCarousel {
	font-size:3vw;
	text-align:center;
	color:white;
	display:block;
	margin-bottom:1%;
	font-weight: 100;
	font-family: 'FontThin';
	width:100%;
}

.secondOption .textCarousel {
	font-size:2vw;
	text-align:left;
	color:white;
	display:block;
	width:100%;
}

.secondOption .buttonCarousel {
	font-size:1.5vw;
	text-align:center;
	color:white;
	display:block;
	margin-top:2%;margin-bottom:2%;
	width:25%;
	padding:2% 2%;
	border:2px solid #8ac24c;
	border-radius:255px;
	transition:all 0.5s ease-out;
	cursor:pointer;
	font-weight:bold;
    margin-left:auto;margin-right:auto;
}
.secondOption .buttonCarousel:hover {
background:#8ac24c
}

.secondOption .videoButton {
	width:10vw;
	height:10vw;
	border-radius:50%;
	text-align:center;
	line-height:9.6vw;
    float:unset;
    display:block !important;
	margin:0 auto !important;
	position:unset !important;
	cursor:pointer;
	border:1px solid white;
}

.secondOption .videoButton i{
	width:8vw;
	height:8vw;
	border-radius:50%;
	background-color:#8ac24c;
	text-align:center;
	line-height: 8vw;
	cursor:pointer;
}
.secondOption .videoButton i {
	vertical-align:middle;
	box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
	animation: pulse-white 2s infinite;
}

@keyframes pulse-white {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }
  
  70% {
    box-shadow: 0 0 0 30px rgba(255, 255, 255, 0);
  }
  
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
	/*End of Second Option*/
	
	/*Third Option*/
.thirdOption .titleCarousel {
	font-size:4vw;
	text-align:center;
	color:white;
	display:block;
	margin-bottom:1%;
	font-family: 'FontThin';
}

.thirdOption .descriptionCarousel {
	font-size:5vw;
	text-align:center;
	font-weight:bold;
	color:white;
	display:block;
	font-family: 'brusher';
	background: -webkit-linear-gradient(190deg, #8ac24c 50%, white 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.thirdOption .textCarousel {
	display:none;
}

.thirdOption .buttonCarousel {
	font-size:1vw;
	text-align:center;
	color:white;
	display:block;
	margin-top:2%;
	margin-left:auto;
	margin-right:auto;
	width:50%;
	padding:5% 5%;
	border:2px solid #8ac24c;
	border-radius:255px;
	transition:all 0.5s ease-out;
	cursor:pointer;
	font-weight:bold;
	font-size:1vw;
	
}

.thirdOption .buttonCarousel:hover {
background:#8ac24c;
}

.thirdOption .videoButton {
	display:none;
}
	/*End of Third Option*/

}
/*END*/

